.sort-success, .sort-error {
  position: fixed;
  top: 20px;
  right: 20px;
}

.glyphicon-move {
  cursor: move;
}

// Awesome WYSIWYG editor, but too expensive
a[href="http://editor.froala.com"] {
  display: none !important;
}