.sort-success, .sort-error {
  position: fixed;
  top: 20px;
  right: 20px;
}

.glyphicon-move {
  cursor: move;
}

.navbar-brand {
  font-family: "Glass Antiqua";
  font-size: 36px;
}

.yellow {
  color: #fede11;
}

.orange {
  color: #e99325;
}

.green {
  color: $green;
}
