.navbar {
  border-bottom: solid #f5f5f5 1px;
  padding: 10px 0;

  li a {
    font-size: 18px;
  }
}

.logo {
  padding-left: 20px;
}

.brand-name {
  font-family: "Glass Antiqua";
  font-size: 36px;
  color: $dark_gray;
  margin-bottom: 8px;
  line-height: 30px;
}

.tag {
  display: none;
  font-size: 18px;
  color: $medium_gray;
}

@media (min-width: $screen-sm-min) {
  .logo {
    padding: 10px 0 14px 55px;
    background: asset-url('logo.png') no-repeat left top;
    background-size: 40px;
    display: block;
  }

  .tag {
    display: block;
  }

  .brand-name {
    display: block;
    line-height: 20px;
  }

  .navbar {
    li a {
      line-height: 48px;

      &.active {
        text-decoration: underline;
      }
    }
  }

}