body {
  font-weight: 100;
}

h1, h2, h3, h4 {
  font-weight: 100;
}

h1 {
  color: $green;
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 16px;
  line-height: 24px;

  strong {
    font-weight: 300;
  }
}