$white: #fff;
$green: #6dad6b;
$dark_gray: #666;
$medium_gray: #999;
$light_gray: #f5f5f5;
$orange: #ed9134;

$navbar-default-bg: #fff;
$navbar-default-border: 0;
$navbar-height: auto;
$navbar-default-link-color: $orange;
$font-family-sans-serif: "Roboto Slab";

@import "bootstrap-sprockets";
@import "bootstrap-custom";
@import "global";
@import "typography";
@import "buttons";
@import "form";
@import "sections/header";
@import "sections/footer";
@import "sections/home";
@import "sections/menus";
