<div class="alert alert-success sort-success" style="display: none;">Position successfully updated :)</div>
<div class="alert alert-danger sort-error" style="display: none;">This did't save! Tell a dev please.</div>
